<section id="contact" class="on" data-callback="contact()" data-nav="2">
  <div class="mid">
    <h1>CONTACT PAGE</h1>
    <p>Se você é jovem ainda, jovem ainda, jovem ainda, amanhã velho será, velho será, velho será. A menos que o coração, que o coração suspeite da juventude, que nunca morrerá! Existem jovens de oitenta e tantos anos e também velhos de apenas vinte e seis. Porque velhice não significa nada, e a juventude volta sempre outra vez! E você é tão jovem quanto sente; Pode apostar: é jovem pra valer. E velho é quem tem sempre a dureza e também é quem deixa de aprender. Não diga não à vida que te espera para festejar a alegria de viver dar à vencer a luz do seu caminho, e você vai com isso entender.</p>
    <img src="http://www.chavesipsum.com/chaves_bg.jpg" class="fL" />
    <p>Quero ver outra vez seus olhinhos de noite serena. Quero ouvir Outra vez tuas palavras acalmando minha pena. Quero ser outra vez O que inquieta a paz de teus sonhos com a voz amorosa de um carinho embriagado de sonhos. Eu queria sobretudo Um pouquinho de esperança. Você voltou muito fujona, quero ser O que inquieta a paz de teus sonhos. Com a voz amorosa de um carinho embriagado de sonhos.</p>
    <p>Que bonita a sua roupa, que roupinha mucho louca, nela é tudo remendado, não vale nenhum centavo, mas agrada a quem olhar. Eu sou o famoso Chaves,todos dizem que minha roupa é remendada. Faço tremer as bases com as minhas peraltices preparadas. Dizem a todo instante, que ele é mais espaçoso que um trem! Que ela é azul...crinante, e que tão chata como ela não há ninguém!</p>
  </div>
</section>
