<header>
  <div class="mid">
    <h2 class="fL">
      <%= link_to "Basic rails template", root_path, :"data-page" => "true" %>
    </h2>

    <input type="checkbox" id="control_nav" name="control_nav" />
    <ul class="nav fR">
      <li>
        <%= link_to "About", about_path, :"data-page" => "true" %>
      </li>
      <li>
        <%= link_to "Contact", contact_path, :"data-page" => "true"%>
      </li>
    </ul>
    <label for="control_nav" class="control-nav-open"></label>
    <label for="control_nav" class="control-nav-close"></label>
  </div>
</header>
